<% var page = {
  title    : "" + site.name,
  keywords : "",
  desc     : "",
  id       : "home",
  url      : site.url + "",
  asettspath : "/assets/",
  imgpath  : "/assets/images"
}; -%>
<%- include ./header/_header -%>

<div class="cmn-Masonry">

<div class="cmn-MansorySizer"></div>
<!-- <div class="cmn-GutterSizer"></div> -->

<div class="cmn-Masonry_Block home-AboutBlock">
<a href="/introduction/" class="home-AboutBlock_Link">
<p>äp = aep = alter ego production</p>
<p>"ェプ"――わたしのための救済。</p>
</a>
<!-- /.cmn-Masonry_Block --></div>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">font-weightを設定するための3つの方法論</h2>
<p>なんということだろう。もはやそれは夢ではなかった。あまりにもリアリティのあふれる悪夢だった。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">蟷螂は夜あるく</h2>
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">行き止まり</h2>
<p>たちどころに意味をなさなくなってしまう。もう終わりだ。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>


<section class="cmn-Masonry_Block cmn-Post cmn-Post-scrap">
<h2 class="cmn-Post_Heading">山月記</h2>
<a href="http://www.aozora.gr.jp/cards/000119/files/624_14544.html" class="cmn-Post_Link" target="_blank">
<blockquote cite="http://www.aozora.gr.jp/cards/000119/files/624_14544.html">
<p>己の毛皮の濡れたのは、夜露のためばかりではない。</p>
<cite>『山月記』中島敦</cite>
</blockquote>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">桜坂</h2>
<p>のぼった、のぼった、桜坂。途絶えた道のその先に、最期にみる花、桜坂。もうどこへも行けまいが、そこへだけはなんとしても、辿り着かねばならぬのだ。最期にたった一度だけ、のぼった、のぼった、桜坂。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>


<section class="cmn-Masonry_Block cmn-Post cmn-Post-note">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">無題</h2>
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post cmn-Post-note">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">無題</h2>
<p>なんということだろう。もはやそれは夢ではなかった。あまりにもリアリティのあふれる悪夢だった。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>


<section class="cmn-Masonry_Block cmn-Post cmn-Post-note">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">無題</h2>
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post cmn-Post-note">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">無題</h2>
<p>なんということだろう。もはやそれは夢ではなかった。あまりにもリアリティのあふれる悪夢だった。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>


<section class="cmn-Masonry_Block cmn-Post cmn-Post-note">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">無題</h2>
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
</a>
<!-- /.cmn-Masonry_Block --></section>

<!-- /.cmn-Masonry --></div>

<%- include ./footer/_footer -%>
