<% var page = {
  title    : "" + site.name,
  keywords : "",
  desc     : "",
  id       : "home",
  url      : site.url + "",
  asettspath : "/assets/",
  imgpath  : "/assets/images"
}; -%>
<%- include ./header/_header -%>

<div class="cmn-Masonry">

<div class="cmn-Masonry_Block home-LogoBlock">
  <h1 class="home-Logo">äp</h1>
<!-- /.cmn-Masonry_Block --></div>

<div class="cmn-Masonry_Block home-AboutBlock">
  <a href="/introduction/" class="cmn-Masonry_Link">
    <p>äp = aep = alter ego production</p>
    <p>"ェプ"――わたしの救済。</p>
  </a>
<!-- /.cmn-Masonry_Block --></div>

<section class="cmn-Masonry_Block cmn-Masonry_Post cmn-Masonry_Post-note">
  <a href="/introduction/" class="cmn-Masonry_Link">
    <h2>無題</h2>
    <p>なんということだろう。もはやそれは夢ではなかった。あまりにもリアリティのあふれる悪夢だった。</p>
  </a>
<!-- /.cmn-Masonry_Block --></section>

<!-- /.cmn-Masonry --></div>

<%- include ./footer/_footer -%>
