// Single common
//------------------------------
.sg-Heading
  margin-bottom 15px
  font-size 1.4rem
  line-height 1.8
  +media(mediumMin)
    font-size 1.5rem

.sg-Data
  border-left 1px solid #aaa
  padding-left 2em
  font-size 1.1rem
  line-height 2
  li
    list-style none
  +media(mediumMin)
    font-size 1.2rem

.sg-Wysiwyg
  p + p
    margin-top 1.5em

// Journal
//------------------------------

.sg-Journal
  margin 30px
  padding 25px
  background-color #eee
  +media(smallMin)
    display flex
  +media(mediumMin)
    padding 50px
  +media(largeMin)
    margin 50px

.sg-Journal_Side
  margin-bottom 30px
  +media(smallMin)
    width 38%
    padding-right 6.18556701%

.sg-Journal_Main
  font-size 1.3rem
  line-height 2
  +media(smallMin)
    width 62%
  +media(mediumMin)
    font-size 1.4rem

// Poem
//------------------------------

.sg-Poem
  margin 30px
  padding 30px
  background-color #eee
  font-size 1.3rem
  line-height 2
  +media(mediumMin)
    padding 50px
  +media(largeMin)
    margin 50px
    padding 100px

.sg-Poem .sg-Data
  margin-top 50px

// Visual Poem
//------------------------------

.sg-VisualPoem
  margin 30px
  background-color #eee
  font-size 1.3rem
  line-height 2
  +media(smallMin)
    display flex
  +media(largeMin)
    margin 50px

.sg-VisualPoem_Picture
  background-color black
  img
    width 100%
    height auto
  +media(smallMin)
    width 62%

.sg-VisualPoem_Text
  padding 30px
  +media(smallMin)
    width 38%
    padding 50px

.sg-VisualPoem .sg-Data
  margin-top 50px

// Photo
//------------------------------

.sg-Photo
  margin 30px
  font-size 1.3rem
  line-height 2
  color white
  +media(smallMin)
    display flex
  +media(largeMin)
    margin 50px

.sg-Photo_Picture
  img
    width 100%
    height auto
  +media(smallMin)
    width 62%

.sg-Photo_Text
  padding 30px 0
  +media(smallMin)
    width 38%
    padding 0 50px

.sg-Photo .sg-Data
  margin-top 30px
  border-color border-gray
