// Single common
//------------------------------
.sg-Heading
  margin-bottom 15px
  font-size 1.4rem
  line-height 1.8
  +media(mediumMin)
    font-size 1.5rem

.sg-Data
  border-left 1px solid #aaa
  padding-left 2em
  font-size 1.1rem
  line-height 2
  li
    list-style none
  +media(mediumMin)
    font-size 1.2rem

.sg-Wysiwyg
  p + p
    margin-top 1.5em

// Journal
//------------------------------

.sg-JournalWrap
  margin 30px
  padding 25px
  background-color #eee
  +media(mediumMin)
    padding 50px

.sg-Journal
  +media(smallMin)
    display flex
  +media(largeMin)
    max-width 970px
    margin 0 auto

.sg-Journal_Side
  margin-bottom 30px
  +media(smallMin)
    width 38%
    padding-right 6.18556701%

.sg-Journal_Main
  font-size 1.3rem
  line-height 2
  +media(smallMin)
    width 62%
  +media(mediumMin)
    font-size 1.4rem

