<% var page = {
  title    : "記事詳細 | " + site.name,
  keywords : "",
  desc     : "",
  id       : "single",
  url      : site.url + "single/",
  asettspath : "/assets/",
  imgpath  : "/assets/images"
}; -%>
<%- include ../header/_header -%>

<main role="main" class="cmn-Main">

<div class="sg-Wrap">

<div class="sg-Journal">

<div class="sg-Journal_Side">
<h1 class="sg-Heading">font-weightを設定するための3つの方法</h1>
<ul class="sg-Data">
<li>2017.04.16 10:00</li>
<li>category: blog > post</li>
<li>keyword: 花、空、エーテル</li>
</ul>
<!-- /.sg-Journal_Side --></div>

<div class="sg-Journal_Main sg-Wysiwyg">
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
<p>すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。すまないが、ちょっと長めの記事を書いてもらえるだろうか。意味はなくて構わない。どのみち僕しか読まないものだ。張り合いがなくてやる気に支障があるかもしれないが、そこは僕ときみの中というところを雨粒ほど考慮してもらえればありがたい。</p>
<!-- /.sg-Journal_Main --></div>

<!-- /.sg-Journal --></div>

<!-- /.sg-Wrap --></div>

<div class="cmn-PageNavigation">
  <a href="" class="cmn-PageNavigation_Prev">時雨坂のもうひとつ先</a>
  <a href="" class="cmn-PageNavigation_Next">たとえば100人が存在を肯定したとして、そのうち17人が死んだとしたら</a>
</div>

<div class="cmn-Controller">
  <div class="cmn-Pager">
    <a href="" class="cmn-Pager_Item cmn-Pager_Item-prev"><i class="icon-prev"></i></a>
    <a href="#pageTop" class="cmn-Pager_Item"><i class="icon-up"></i> page top</a>
    <a href="" class="cmn-Pager_Item cmn-Pager_Item-next"><i class="icon-next"></i></a>
  </div>
</div>

</main>



<%- include ../footer/_footer -%>
