<% var page = {
  title    : "記事詳細 | " + site.name,
  keywords : "",
  desc     : "",
  id       : "single",
  url      : site.url + "single/",
  asettspath : "/assets/",
  imgpath  : "/assets/images"
}; -%>
<%- include ../header/_header -%>

<main role="main" class="cmn-Main">

<div class="sg-Wrap">

<div class="sg-Photo">

<div class="sg-Photo_Picture">
<img src="https://dummyimage.com/750x562/fff/000" alt="">
<!-- /.sg-Photo_Picture --></div>

<div class="sg-Photo_Text">
<h1 class="sg-Heading">桜坂</h1>
<ul class="sg-Data">
<li>2017.04.16 10:00</li>
<li>category: blog > post</li>
<li>keyword: 花、空、エーテル</li>
</ul>
<!-- /.sg-Photo_Text --></div>

<!-- /.sg-Journal --></div>

<!-- /.sg-Wrap --></div>

<div class="cmn-Controller">
  <div class="cmn-Pager">
    <a href="" class="cmn-Pager_Item cmn-Pager_Item-prev"><i class="icon-prev"></i></a>
    <a href="#pageTop" class="cmn-Pager_Item"><i class="icon-up"></i> page top</a>
    <a href="" class="cmn-Pager_Item cmn-Pager_Item-next"><i class="icon-next"></i></a>
  </div>
</div>


</main>

<%- include ../footer/_footer -%>
