<% var page = {
  title    : "記事詳細 - poem | " + site.name,
  keywords : "",
  desc     : "",
  id       : "single",
  url      : site.url + "single/",
  asettspath : "/assets/",
  imgpath  : "/assets/images"
}; -%>
<%- include ../header/_header -%>

<main role="main" class="cmn-Main">

<div class="sg-Wrap">

<div class="sg-Poem sg-Poem-noHeading">
<h1 class="sg-Heading">桜坂</h1>
<div class="sg-Wysiwyg">
<p>のぼった、のぼった、桜坂。<br>途絶えた道のその先に、最期にみる花、桜坂。</p>
<p>もうどこへも行けまいが、<br>そこへだけはなんとしても、<br>辿り着かねばならぬのだ。</p>
<p>最期にたった一度だけ、<br>のぼった、のぼった、桜坂。</p>
<!-- /.sg-Wysiwyg --></div>
<ul class="sg-Data">
<li>2017.04.16 10:00</li>
<li>category: blog > post</li>
<li>keyword: 花、空、エーテル</li>
</ul>
<!-- /.sg-Poem --></div>

<!-- /.sg-Wrap --></div>

</main>

<%- include ../footer/_footer -%>
