// Font
// --------------------------------------------------

gothic = "ryo-gothic-plusn", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif
hutogo = "a-otf-futo-go-b101-pr6n",-apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif
mincho = 'Mate', "Hiragino Mincho ProN", "Hiragino Mincho Pro", "游明朝", YuMincho, "ＭＳ 明朝", serif


// Color
// --------------------------------------------------

white = #fff
black = #111

// Size
// --------------------------------------------------

max-window-width = 1280px
content-width = 1000px

maxWidth(m = 0 auto)
  max-width max-window-width
  margin m

contentWidth(m = 0 auto)
  width content-width
  margin m

// Media query
// --------------------------------------------------

small-min  = 480px
medium-min = 768px
large-min  = 980px
llarge-min = 1200px

media(point, direction = min)
  if point == smallMin
    @media print, screen and (min-width: small-min)
      {block}
  else if point == mediumMin
    @media print, screen and (min-width: medium-min)
      {block}
  else if point == largeMin
    @media print, screen and (min-width: large-min)
      {block}
  else if point == llargeMin
    @media print, screen and (min-width: llarge-min)
      {block}
  else
    if direction == min
      @media print, screen and (min-width: point)
        {block}
    else if direction == max
      @media print, screen and (max-width: point)
        {block}
