.ct-Heading
  margin 50px 0
  text-align center
  color white
  text-transform lowercase
  font-family mincho
  font-weight normal
  font-size 3rem
  span
    margin-top 1em
    display block
    font-family gothic
    font-size 1.2rem
    letter-spacing .1em
