<% var page = {
  title    : "カテゴリ一覧 | " + site.name,
  keywords : "",
  desc     : "",
  id       : "category",
  url      : site.url + "category/",
  asettspath : "/assets/",
  imgpath  : "/assets/images"
}; -%>
<%- include ../header/_header -%>

<main role="main" class="cmn-Main">

<h1 class="ct-Heading">Journal<span>日々徒然をしづかに綴る日記</span></h1>

<div class="cmn-MasonryWrap">
<div class="cmn-Masonry">

<div class="cmn-MasonrySizer"></div>
<div class="cmn-GutterSizer"></div>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">font-weightを設定するための3つの方法論</h2>
<ul class="cmn-Post_Data">
<li>2017.04.16 10:00</li>
<li>category: blog > post</li>
<li>keyword: 花、空、エーテル</li>
</ul>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<div class="cmn-Post_Image">
<img src="https://dummyimage.com/600x400/fff/000" alt="">
</div>
<h2 class="cmn-Post_Heading">蟷螂は夜あるく</h2>
<ul class="cmn-Post_Data">
<li>2017.04.16 10:00</li>
<li>category: blog > post</li>
<li>keyword: 花、空、エーテル</li>
</ul>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post cmn-Post-oneSentence">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">無題</h2>
<p>たちどころに意味をなさなくなってしまう。もう終わりだ。</p>
<ul class="cmn-Post_Data">
<li>2017.04.16 10:00</li>
<li>category: works > poem</li>
<li>keyword: 花、空、エーテル</li>
</ul>
</a>
<!-- /.cmn-Masonry_Block --></section>

<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<h2 class="cmn-Post_Heading">桜坂</h2>
<ul class="cmn-Post_Data">
<li>2017.04.16 10:00</li>
<li>category: works > poem</li>
<li>keyword: 花、空、エーテル</li>
</ul>
</a>
<!-- /.cmn-Masonry_Block --></section>


<section class="cmn-Masonry_Block cmn-Post">
<a href="/introduction/" class="cmn-Post_Link">
<div class="cmn-Post_Image">
<img src="https://dummyimage.com/600x400/fff/000" alt="">
</div>
<h2 class="cmn-Post_Heading">おもわず息を飲む、個性を魅せる依頼文</h2>
<ul class="cmn-Post_Data">
<li>2017.04.16 10:00</li>
<li>category: blog > post</li>
<li>keyword: 花、空、エーテル</li>
</ul>
</a>
<!-- /.cmn-Masonry_Block --></section>

<!-- /.cmn-Masonry --></div>
<!-- /.cmn-MasonryWrap --></div>

</main>

<%- include ../footer/_footer -%>
