.ft-Copy
  margin-top 50px
  margin-bottom 40px
  padding 0 30px 40px
  // text-align right
  font-family mincho
  color #666
  // background-color #191919
  small
    font-size 1.4rem
  +media(largeMin)
    margin-bottom 50px
    padding 0 50px 50px
