<a href="#pageTop" class="ft-PageTop"><i class="icon-up"></i></a>
<footer class="ft-footer">
<p class="ft-Copy"><small>&copy; 2017 alter ego production</small></p>
</footer>
<script src="/assets/js/common.js"></script>
</body>
</html>
