<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#333">
<meta name="format-detection" content="telephone=no">

<meta property="og:description" content="<%- page.desc %>">
<meta property="og:image" content="/assets/images/ogp.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="">
<meta property="og:url" content="<%- page.url %>">
<meta property="og:title" content="<%- page.title %>">

<title><%- page.title %></title>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@msk_cks">
<meta name="twitter:creator" content="@msk_cks">
<meta name="twitter:title" content="äp">
<meta name="twitter:description" content="わたしのための救済。写真詩/音楽/アプリ/雑記">
<meta name="twitter:image" content="">

<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/assets/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon" href="/assets/img/home-icon.png">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mate">
<link rel="stylesheet" href="/assets/css/common.css">

<script src="https://use.typekit.net/vwa5rhs.js"></script>
<!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->

</head>
<body>

<header class="hd-Header">
<h1 class="hd-Logo"><a href="/">äp</a></h1>
<form class="hd-Search">
<label for="cmnSearchInput" class="hd-Search_Button"><i class="icon-search"></i><span>検索フォーム</span></label>
<p class="hd-Search_Input"><input type="text" name="s" id="cmnSearchInput" placeholder="サイト内検索"></p>
</form>
<nav class="hd-GlobalNav">
<h2 class="hd-GlobalNav_Heading"><i class="icon-menu"></i><span>サイトメニュー</span></h2>
<ul class="hd-GlobalNav_FirstLevel">
<li><a href="/introduction/">Introduction</a></li>
<li class="hd-GlobalNav_Toggle hd-GlobalNav_Toggle-works">
<a href="#">Works</a>
<ul class="hd-GlobalNav_SecondLevel">
<li><a href="">All</a></li>
<li><a href="">Photo</a></li>
<li><a href="">Poem</a></li>
<li><a href="">Music</a></li>
<li><a href="">App</a></li>
</ul>
</li>
<li class="hd-GlobalNav_Toggle hd-GlobalNav_Toggle-blog">
<a href="#">Blog</a>
<ul class="hd-GlobalNav_SecondLevel">
<li><a href="">All</a></li>
<li><a href="">Memo</a></li>
<li><a href="">Scrap</a></li>
<li><a href="">Journal</a></li>
</ul>
</li>
<li><a href="/contact/">Contact</a></li>
</ul>
</nav>
</header>
