<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#333">
<meta name="format-detection" content="telephone=no">

<meta property="og:description" content="<%- page.desc %>">
<meta property="og:image" content="/assets/images/ogp.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="">
<meta property="og:url" content="<%- page.url %>">
<meta property="og:title" content="<%- page.title %>">

<title><%- page.title %></title>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@msk_cks">
<meta name="twitter:creator" content="@msk_cks">
<meta name="twitter:title" content="äp">
<meta name="twitter:description" content="わたしのための救済。写真詩/音楽/アプリ/雑記">
<meta name="twitter:image" content="">

<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/assets/img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon" href="/assets/img/home-icon.png">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="/assets/css/common.css">

</head>
<body>
