// Basis
//------------------------------

html
  opacity 0
  transition opacity 1s ease-in-out
  &.wf-active
    opacity 1

body
  background-color black
  color text-black
  &.preFixedHeader
  &.fixedHeader
    margin-top 40px
  +media(largeMin)
    &.preFixedHeader
      margin-top 50px

// Masonry
//------------------------------

.cmn-MasonryWrap
  padding 0 9.375vw
  +media(smallMin)
    padding 0 6.25vw
  +media(mediumMin)
    padding 0 3.90625vw
  +media(largeMin)
    padding 0 3.06122449vw
  +media(llargeMin)
    padding 0 2.5vw

.cmn-MasonrySizer
.cmn-Masonry_Block
  width 100%
  background-color white
  margin-bottom 9.375vw
  +media(smallMin)
    margin-bottom 6.25vw
    width 40.475vw
  +media(mediumMin)
    margin-bottom 3.90625vw
    width 44.140625vw
  +media(largeMin)
    margin-bottom 3.06122449vw
    width 29.25170068vw
  +media(llargeMin)
    margin-bottom 2.5vw
    width 21.375vw

.cmn-GutterSizer
  width 0
  +media(smallMin)
    width 6.25vw
  +media(mediumMin)
    width 3.90625vw
  +media(largeMin)
    width 3.06122449vw
  +media(llargeMin)
    width 0 2.5vw

// Post
//------------------------------

.cmn-Post
  font-size 1.4rem
  line-height 2

.cmn-Post-oneSentence
  .cmn-Post_Heading
    display none

.cmn-Post_Link
  display block
  padding 7.8125vw
  background-color #eee
  +media(smallMin)
    padding 5.208333333vw
  +media(mediumMin)
    padding 3.255208333vw
  +media(largeMin)
    padding 2.551020408vw
  +media(llargeMin)
    padding 2.083333333vw

.cmn-Post_Heading
  font-size 1.4rem
  line-height 1.8
  margin-bottom 1em

.cmn-Post_Data
  margin-top 2em
  border-left 1px solid #aaa
  padding-left 2em
  font-size 1.1rem
  line-height 2
  li
    list-style none

.cmn-Post_Image
  display block
  margin -7.8125vw -7.8125vw 7.8125vw
  img
    width 100%
    height auto
  +media(smallMin)
    margin -5.208333333vw -5.208333333vw 5.208333333vw
  +media(mediumMin)
    margin -3.255208333vw -3.255208333vw 3.255208333vw
  +media(largeMin)
    margin -2.551020408vw -2.551020408vw 2.551020408vw
  +media(llargeMin)
    margin -2.083333333vw -2.083333333vw 2.083333333vw
